@inherits avt.MyTokens.Core.ParsingEngine.RazorTemplate
@{
 var ArticleFiles = COOPTokens.ArticleFiles(OpenArticleId:TknParams.OpenArticleId.Value.ToString());
}


    <h5>
        Current Files
    </h5>

    <div class="files-wrapper">
        
        @foreach(var f in ArticleFiles){
            <a class="f-item" href=#>
          		<p>@f.FileName</p>
          	</a>
        }
        
    </div>