@inherits avt.MyTokens.Core.ParsingEngine.RazorTemplate
@{
    var ListOfArticles = COOPTokens.ListOfArticles();
}


    <div class="header-container">
        <h1>
            Articles
        </h1>
        <a href="javascript:dnnsf.api.actionForm.openPopupById(500);" type="button" class="create-article-btn">Create New Article</a>
    </div>
    
    <div class="cards-wrapper">
         @foreach(var a in ListOfArticles) {
         <div class="article_card" href="">
           	<div class="article__card" >
          		<div class="art-card-header">
          		    <span class="title">@a.Title</span>
          		    <span class="owner">Created by: @a.DisplayName</span>
          		    
          		</div>
          		<div class="art-card-content">@a.Content</div>
          		<div class="art-card-footer">
          		    <a href="/Article-Details/OpenArticleId=@a.Id" type="button" class="read-article-btn" >Read Article</a>
          		    <a href="javascript:dnnsf.api.actionForm.openPopupById(530,{ArticleId:@a.Id},true);" type="button" class="add-to-playlist-btn">Add to Playlist</a>
          		    <!--<a href="javascript:dnnsf.api.actionForm.openPopupById(530);" type="button" class="add-to-playlist-btn">Add to Playlist</a>-->
          		</div>
          	</div>
         </div>
        }
    </div>


     <script>
    
    //     function createArticle(){
    //     }
        
    //     // function createArticle(){
            
    //     // }
        
    //     // function createArticle(){
            
    //     // }
        
    // </script>
    
    
    <style>
    
    a {
      text-decoration: none;
    }
    
    .header-container{
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    h1 {
      position: relative;
      width: 450px;
      text-align:center;
      margin: 6vh auto;
      color: #008E81 !important;
    }
  
    h1:after {
      position: absolute;
      content: "";
      border-bottom: 2px solid #008e816b !important;
      bottom: 0;
      width: 450px;
      margin-left: -282px;
      transition: all 1s;
    }
  
    h1:hover:after {
      transform: scaleX(1.2);
      color: #008E81 !important;
    }
    
    .create-article-btn {
        width: 20rem;
        height: 3rem;
        margin-bottom: 4rem;
        background-color: white;
        padding: .2rem;
        color: white;
        background-color: #008E81;
        border: 2px solid #008E81 ;
        border-radius: 5px;
        text-align: center;
        padding: 0.6rem;
    }
    
    .create-article-btn:hover {
        color: white;
    }
  
    .title {
      color: black;
      font-size: clamp(1.8rem,1.8rem + .2vw,3rem);
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      width: inherit;
      
    } 
  
    .cards-wrapper {
      /*display: grid;*/
      /*grid-template-columns: 1fr 1fr 1fr 1fr;*/
      /*grid-gap: 20px; */
      /*justify-content: center;*/
      /*margin: 0 auto;*/
      /*padding: 1rem;*/
      /*width: 560px;*/
      margin: 0 auto;
      width: 80vw;
      display: flex;
      flex-wrap: wrap;
      gap: 1%;
      justify-content: flex-start;
    }
  
    .article_card {
      width: 22rem;
      height: 28rem;
      margin-bottom: 1rem;
      /*justify-self: center;*/
      border-radius: 15px;
      border: 5px solid #008E81 ;
      transition: 0.5s;
    }
  
   .article_card:hover {
      transform: scale(1.05);
      transition: 0.3s;
   }
  
   .article__card {
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      padding: 2rem;
      color: #008E81;
   }
  
    /*.article__card p {*/
    /*    width: 20rem;*/
    /*    overflow: hidden;*/
    /*    color: black;*/
    /*}*/
  
   .art-card-header{
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      width: 100%;
      min-height: 38%;
      margin-top: -25px;
   }
  
   .owner {
      align-self: end;
   }
  
   .art-card-content {
      overflow: hidden;
      color: black;
      padding-bottom: 5px;
   } 
 
   .art-card-footer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      min-height: 23%;
      padding-top: 2rem;
    }
    
   .read-article-btn {
      background-color: white;
      text-align: center;
      padding: .2rem;
      margin-bottom: .8rem;
      color: #008E81;
      border: 2px solid #008E81;
      border-radius: 5px;
    }
    
    .add-to-playlist-btn {
      background-color: white;
      padding: .2rem;
      color: #0dcaf0;
      border: 2px solid #0dcaf0 ;
      border-radius: 5px;
    }
 
  
</style>
    