@inherits avt.MyTokens.Core.ParsingEngine.RazorTemplate
@{
 var ArticleFiles = COOPTokens.ArticleFiles(ArticleId:TknParams.ArticleId.Value.ToString(),ArticleChangeId:TknParams.ArticleChangeId.Value.ToString());
}


    <h5>
        Current Files
    </h5>

    <div class="files-wrapper">
        @if (ArticleFiles.Count() == 0) {
            <h5>No Files</h5>
        } 
          
        
    </div>