@inherits avt.MyTokens.Core.ParsingEngine.RazorTemplate
@{
    var Question = COOPTokens.GetQuestion();
}

  @foreach(var a in Question) {
     
      <div class="question">
          <div class="line"> 
           <h4>@a.Description</h4><br>
           <i>Created By:@a.CreatedBy</i> <br>
           <i>Date: @a.Date</i> <br><br> <br>
          </div>
      </div>
  }













































