@inherits avt.MyTokens.Core.ParsingEngine.RazorTemplate
@{
var Id =TknParams.Id.Value.ToString();
var participantName = COOPTokens.GetParticipantsName(projectId:Id);
}

<div>
    <ol>
        @foreach(var participant in participantName){
        <li>@participant.DisplayName</li>
        }
    </ol>
</div>
