@inherits avt.MyTokens.Core.ParsingEngine.RazorTemplate
@{
string content = @TknParams.Content.Value.ToString();

}@content

<body> 
  <div id="module" class="container">
  <span class="collapse" id="collapseContent" aria-expanded="false">@content</span> 
    <a role="button" class="collapsed" data-bs-toggle="collapse" href=#collapseContent  aria-expanded="false" aria-controls="collapseContent"></a>
</div>
</body>
<style>
  
 
  
  #module {
  font-size: 1rem;
  line-height: 1.5;
}


#module #collapseContent.collapse:not(.show) {
  display: block;
  height: 9rem;
  overflow: hidden;
}

#module #collapseContent.collapsing {
  height: 3rem;
}

#module a.collapsed::after {
  content: '+ Show More';
}
#module a:not(.collapsed)::after {
  content: '- Show Less';
}

</style>
<script>
  $('a.collapsed').hide();
  $(window).on('shown.bs.modal', function() { 
    if($('span.collapse p').height()<145){
      $('a.collapsed').hide();
    } else {
      $('a.collapsed').show();
    };
});

</script>